{% extends 'base.html' %}

{% block content %}

    <table>
        <tbody>
        {% for subreddit in subreddits %}
            <tr>
                <td class="info-container">
                    <a class="thread-title" href="{{ subreddit.http_link }}">{{ subreddit.title }}</a>
                    <br>
                    <p class="info-container">{{ subreddit.description }}</p>
                    <br>
                    <span>{{ subreddit.sub_count }} users</span>
                </td>
                <td>
                  {% if subscribed_to %}
                      {% if subreddit in subscribed_to %}
                        <form method="post" action="/r/{{ subreddit.name_id }}/unsubscribe/">
                          {% csrf_token %}
                          <button type="submit">Unsubscribe</button>
                        </form>
                    {% endif %}
                    {% else %}
                     <form method="post" action="/r/{{ subreddit.name_id }}/subscribe/">
                          {% csrf_token %}
                          <button type="submit">Subscribe</button>
                     </form>
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
        <ul class="pager">
            {% if subreddits.has_previous %}
                <li class="previous"><a href="?page={{ subreddits.previous_page_number }}"><span
                        aria-hidden="true">&larr;</span> Previous</a></li>
            {% else %}
                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
            {% endif %}

            {% if subreddits.has_next %}
                <li class="next"><a href="?page={{ subreddits.next_page_number }}">Next <span
                        aria-hidden="true">&rarr;</span></a></li>
            {% else %}
                <li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
